<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <!-- OutOfProcess: ANCM proxies to Kestrel. processPath/arguments are filled by dotnet publish. -->
      <aspNetCore processPath="dotnet"
                  arguments=".\IoTMonitoringSystem.API.dll"
                  stdoutLogEnabled="true"
                  stdoutLogFile="\\?\%home%\LogFiles\stdout"
                  hostingModel="outofprocess" />
    </system.webServer>
  </location>
</configuration>
